
.dropdown-menu {
    background-color: #343a40;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #ff6600;
    color: #fff;
}

footer,
.generalfooter {
    background-color: #000;
    color: #ff6600;
    /* Yellow text */
    text-align: center;
    padding: 10px 0;
}

.generalfooter {
    background-color: #000;
    color: #ff6600;
    /* Yellow text */
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.generalfooter p {
    margin: 0;
}

.btn-orange{
    background-color:#ff6600;
        color: #000;
}
.btn-primary {
    background-color: #000;
    color: #ff6600;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
